<ion-header *ngIf="!loading">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="!loading">{{ loadedRecipe.title }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-grid no-padding>
    <ion-row>
      <ion-img [src]="loadedRecipe.imageUrl"></ion-img>
    </ion-row>

    <ion-row>
      <ion-col no-padding>
        <h1 text-center>
          {{ loadedRecipe.title }}
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col no-padding>
        <h1 text-center>
          Ingrédients
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ig of loadedRecipe.ingredients">
            {{ ig }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col no-padding>
        <h1 text-center>
          Preparation
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div id="preparation" class="ion-text-wrap" *ngFor="let prep of loadedRecipe.preparation">
          {{ prep }}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col no-padding>
        <h1 text-center>
          Cuisson
        </h1>
        <div text-center> {{loadedRecipe.cuisson}} </div>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>