<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Livres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-book-item 
    *ngFor="let book of books" 
    [bookItem]="book"
    >
    </app-book-item>
  </ion-list>
</ion-content>