<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recettes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-recipe-item 
    *ngFor="let recipe of recipes" 
    [recipeItem]="recipe"
    >
    </app-recipe-item>
  </ion-list>
</ion-content>