<ion-header *ngIf="!loading">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/books"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="!loading">{{ loadedBook.title }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-grid no-padding>
    <ion-row>
      <ion-img [src]="loadedBook.imageUrl"></ion-img>
    </ion-row>

    <ion-row>
      <ion-col no-padding>
        <h1 text-center>
          {{ loadedBook.title }}
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let r of loadedBook.recettes" [routerLink]="['/recipes', r.id]">
            {{ r.title }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>