<ion-item [routerLink]="['./', bookItem.id]">
  <ion-avatar slot="start">
    <ion-img [src]="bookItem.imageUrl">
    </ion-img>
  </ion-avatar>

  <ion-label>{{ bookItem.title }}</ion-label>
</ion-item>